header .header-top {
  background-color: #272a31;
  color: white;
}

header .header-bottom {
  background-color: white;
  padding: 1rem;
  margin-bottom: 1rem;
}

.menue-button {
  background: none;
  border: none;
  font-size: 2rem;
}

.head-secion {
  background-color: #e4e4e4;
  border: 1px solid red;
  padding: 1rem;
}

.h2-hello {
  color: #ec5242;
  border: 1px solid green;
}

.date-duraion {
  color: #3e3e3e;
  font-size: 1.5rem;
}

.head-secion h1 {
  font-size: 2.5rem;
  -webkit-background-clip: text;
	background-clip: text;
  background-image: url(/assests/imgs/pawel-czerwinski-K9KiZckmTac-unsplash.jpg);
  background-repeat: no-repeat;
	color: transparent;
}

.head-p-div {
  border: 3px solid white;
  padding: 1rem;
  color: #3e3e3e;
}

.head-secion .adderes {
  color: #3e3e3e;
  margin-bottom: 3rem;
}

/* program section */
.program-section {
  background-color: #272a31;
  border: 1px solid yellow;
  background-image: url(/assests/imgs/icons8-x-vpn-50.png);
  background-size: 1rem;
}

.program-h3 {
  text-align: center;
  color: white;
}

.underline {
  width: 60px;
  background-color: red;
  align-items: center;
  height: 1px;
  margin-left: auto;
  margin-right: auto;
}

.program-cards-collection {
  width: 85%;
  /* border: 1px solid green; */
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  background-color: #272a31;
  display: grid;
  grid-row: 1fr;
  gap: 1rem;
}

.program-card {
  display: flex;
  /* justify-content: space-between; */
  border: 1px solid white;
  display: flex;
  gap: 1rem;
  height: 6.25rem;
}

.pc-left {
  width: 40%;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.program-icon {
  color: white;
  font-size: 2rem;
  margin-top: auto;
  margin-bottom: auto;
}

.pc-left-t {
  color: #ec5242;
  font-weight: 600;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 1.2rem;
}

.pc-right {
  display: flex;
}

.pc-r-p {
  color: #e4e4e4;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 0.9rem;
}





/* cards section */

.cards-section {
  background-color: wheat;
}

.partner-section {
  background-color: #272a31;
}

footer {
  background-color: wheat;
}